@import url("../../ui/scene.css");
#habitat { height: min(100vh, 52.113vw); }
[data-fit="fill"] #habitat { height: 100vh; }
#habitat:fullscreen { height: 100vh; }
#habitat:fullscreen #scene { position: absolute; top: 50%; height: min(100%, 52.113vw); transform: translateY(-50%); }
@media (max-width: 600px) {
  #habitat { height: calc(100svh - 200px); }
  [data-fit="fill"] #habitat { height: 100vh; }
  #habitat:fullscreen #scene { top: 0; height: 100%; transform: none; }
}
